<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/style.js}"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<title>Editar - Planeador docente</title>
</head>
<body>
	<div class="dashboard">
		<div class="dashboard-nav bg-custom-2">
			<header>
				<a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a
					href="#" class="brand-logo"><i class="fas fa-chart-line"></i> <span>PLANEADOR</span></a>
			</header>
			<nav class="dashboard-nav-list">
				<a th:href="@{/perfil}" class="dashboard-nav-item"> <i
					class="fas fa-home"></i> Mi perfil
				</a> <a th:href="@{/planeadores}" class="dashboard-nav-item active">
					<i class="fas fa-tachometer-alt"></i> Planeadores
				</a>
				<div class="dashboard-nav-dropdown">
					<a class="dashboard-nav-item dashboard-nav-dropdown-toggle"
						href="#!"> <i class="fas fa-list fa-w"></i> Microcurrículos
					</a>
					<div class="dashboard-nav-dropdown-menu">
						<a class="dashboard-nav-dropdown-item" th:href="@{/curso/nuevo}">
							Agregar curso</a> <a class="dashboard-nav-dropdown-item"
							th:href="@{/docentes/nuevo}"> Cursos existentes </a>
					</div>
				</div>

				<div class="dashboard-nav-dropdown">
					<a class="dashboard-nav-item dashboard-nav-dropdown-toggle"
						href="#!"> <i class="fas fa-list fa-w"></i> Los Docentes
					</a>
					<div class="dashboard-nav-dropdown-menu">
						<a class="dashboard-nav-dropdown-item" th:href="@{/docentes}">
							Lista de Docentes </a> <a class="dashboard-nav-dropdown-item"
							th:href="@{/docentes/nuevo}"> Agregar docente </a>
					</div>
				</div>
				<div class="nav-item-divider"></div>
				<a th:href="@{/login}" class="dashboard-nav-item"> <i
					class="fas fa-sign-out-alt"></i>Cerrar Sesión
				</a>
			</nav>
		</div>
		<div class="dashboard-app">
			<header class="dashboard-toolbar">
				<a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
			</header>
			<div class="dashboard-content">
				<div class="container">
					<div class="card">
						<div class="card-header">
							<h1>
								Editando el docente <span th:utext="${docente.documento}"></span>
							</h1>
						</div>

						<form th:action="@{/docentes/{id}(id=${docente.documento})}"
							th:object="${docente}" method="POST">
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										<input type="text" id="documento"
											class="form-control form-control-lg" th:field="*{documento}" />
										<label class="form-label" for="primerNombre">Documento</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										<input type="text" id="primerNombre"
											class="form-control form-control-lg"
											th:field="*{primerNombre}" /> <label class="form-label"
											for="primerNombre">Primer Nombre</label>
									</div>
								</div>
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										<input type="text" id="primerApellido"
											class="form-control
                      form-control-lg"
											/ th:field="*{primerApellido}"> <label
											class="form-label" for="primerApellido">Primer
											Apellido</label>
									</div>
								</div>
							</div>

							<!-- 						<div class="row"> -->
							<!-- 							<div class="col-md-6 mb-4 d-flex align-items-center"> -->

							<!-- 								<div class="form-outline datepicker w-100"> -->
							<!-- 									<input type="date" class="form-control form-control-lg" -->
							<!-- 										id="birthdayDate" /> <label for="birthdayDate" -->
							<!-- 										class="form-label">Fecha de nacimiento</label> -->
							<!-- 								</div> -->

							<!-- 							</div> -->
							<!-- 							<div class="col-md-6 mb-4"> -->

							<!-- 								<h6 class="mb-2 pb-1">Género:</h6> -->

							<!-- 								<div class="form-check form-check-inline"> -->
							<!-- 									<input class="form-check-input" type="radio" -->
							<!-- 										name="inlineRadioOptions" id="femaleGender" value="option1" -->
							<!-- 										checked /> <label class="form-check-label" for="femaleGender">Femenino</label> -->
							<!-- 								</div> -->

							<!-- 								<div class="form-check form-check-inline"> -->
							<!-- 									<input class="form-check-input" type="radio" -->
							<!-- 										name="inlineRadioOptions" id="maleGender" value="option2" /> -->
							<!-- 									<label class="form-check-label" for="maleGender">Masculino</label> -->
							<!-- 								</div> -->

							<!-- 								<div class="form-check form-check-inline"> -->
							<!-- 									<input class="form-check-input" type="radio" -->
							<!-- 										name="inlineRadioOptions" id="otherGender" value="option3" /> -->
							<!-- 									<label class="form-check-label" for="otherGender">Otro</label> -->
							<!-- 								</div> -->

							<!-- 							</div> -->
							<!-- 						</div> -->

							<div class="row">
								<div class="col-md-6 mb-4 pb-2">
									<div class="form-outline">
										<input type="number" id="codigo"
											class="form-control form-control-lg" th:field="*{codigo}" />
										<label class="form-label" for="phoneNumber">Código</label>
									</div>
								</div>

								<div class="col-md-6 mb-4 pb-2">
									<div class="form-outline">
										<input type="email" id="emailAddress"
											class="form-control form-control-lg" th:field="*{email}" />
										<label class="form-label" for="emailAddress">Correo
											Electrónico</label>
									</div>
									<div class="mt-4 pt-2">
										<input class="btn btn-primary btn-lg" type="submit"
											value="Guardar cambios" /> <a class="btn btn-danger btn-lg"
											th:href="@{/docentes}">Cancelar</a>
									</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
